@media (max-width: 768px){
  body{ background-attachment: scroll; }
}

/* estrelinhos (< 360px) */
@media (max-width: 360px){
  h1.title{ font-size: 30px; }
  .botao{ width: 82vw; font-size: 14px; padding: 10px 12px; }
}

@media (max-width: 360px){
  .botao{ width: 74vw; font-size: 13px; padding: 9px 12px; }
}