body {
    background-image: url(../imagens/5.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.hero {
    padding: 10px 30px;
}




.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
    text-shadow: 2px 2px 5px #000;
    font-size: 6rem;
    text-transform: uppercase;
    text-shadow: 3px 5px 7px #fff;

}

h2 {
    color: #ffffff;
    margin-top: 20px;

}

.subtitulo {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}



.botao {
    min-width: 300px;
    min-height: 80px;
    max-width: 300px;
    color: rgba(51, 223, 253, 0.9);
    display: flex;
    justify-content: center;
    background-image: url(../imagens/4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    font-size: 20px;
    margin: 30px;
    border: none;
    padding: 25px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.botao:hover {
    color: #fff;
    /* background-image: url(../imagens/5.png); */
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #ffffff
}


li {
    display: flex;
    justify-content: center;
}

.comando-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.comando {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comando img {
    width: 200px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.comando img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px #ffffff
}



footer {
    text-align: center;
    padding: 0.9rem 1rem;
    margin-top: 5rem;
    font-size: 0.9rem;
    color: #ffffff;
}

.legenda {
    margin: 10px;

    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}