body {
    background-image: url(../imagens/bg-home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.hero {
    padding: 100px 20px;
}




h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding: 30px;
    text-shadow: 2px 2px 5px #ffffff;


}

h2 {
    color: #ffffff;
    margin-top: 20px;

}

.subtitulo {
    font-size: 1.5rem;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
}



.botao {
    min-width: 300px;
    min-height: 80px;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;          /* centraliza o texto verticalmente */
    font-size: 30px;
    margin: 30px;
    cursor: pointer;
    font-weight: bold;
    font-family: "Cinzel", serif;
    text-transform: uppercase;

    /* estilo visual */
    background: linear-gradient(135deg,#1a1a1a,#2e2e3a);
    border: 2px solid #444;
    color: #ffd27a;
    border-radius: 10px;          /* mantive o seu arredondado */
    transition: all 0.3s ease;
}

.botao:hover {
    color: #fff;
    text-shadow: 0 0 10px #ffd27a, 0 0 20px #ffcc66;
    transform: translateY(-5px);  /* deixei o seu hover mais alto */
    box-shadow: 0 10px 30px rgba(255,210,122,0.4);
}


li {
    display: flex;
    justify-content: center;
}

.comando-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 50px;
}

.comando {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comando img {
    width: 200px;
    height: auto;
    border-radius: 12px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.comando img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 30px #ffffff
}

.legenda {
    margin-top: 10px;
    font-size: 18px;
    color: white;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin-top: 3rem;
    font-size: 1.1rem;
    color: #ffffff;



 span.copy {
  color: #fff; /* cor da letra */
  /* -webkit-text-stroke: 1px #000;  */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7); /* sombra */
}
  


}